<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>User:</h1>
      <label>
        Username:
        <input type="text" formControlName="userName" required />
      </label>
      <span *ngIf="userForm.get('userName')?.invalid">
        Please enter a Username
      </span>
    </div>
    <div formGroupName="credentials">
      <label>
        Email:
        <input type="email" formControlName="email" required email />
      </label>
      <span *ngIf="userForm.get('credentials.email')?.invalid">
        Please enter a VALID EMAIL
      </span>
      <label>
        Password:
        <input type="text" formControlName="password" required />
      </label>
      <span *ngIf="userForm.get('credentials.password')?.invalid">
        Please enter a password
      </span>
      <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </div>

    <!--  <div formGroupName="address">
      <h2>Adress:</h2>
      <label>
        Street:
        <input type="text" formControlName="street" />
      </label>

      <label>
        Street number: <input type="text" formControlName="number" />
      </label>
      <label>
        ZipCode:
        <input type="text" formControlName="zipCode" />
      </label>
      <label>
        City:
        <input type="text" formControlName="city" />
      </label>
    </div> -->
  </form>
</div>

<div *ngIf="newUser">
  <p>Test</p>
  <p>
    {{ newUser.userName }} just signed in. His credentials are: email:{{
      newUser.email
    }}
    password:{{ newUser.password }}.
  </p>
  <p>His address is:</p>
  <p>{{ newUser.number }}, {{ newUser.street }}</p>
  <p>{{ newUser.zipcode }}, {{ newUser.city }}</p>
</div>
